<div class="slide_wrapper">
	{{#if metadata.logo-small}}
		<div class="slide_logo_small"></div>
	{{/if}}
	<h1 class="slide_title " style="text-align: center; display: block;">
		{{#if metadata.title}}{{metadata.title}}{{else}}Catching 🔥 Wire{{/if}}
	</h1>
	<div class="slide_content">

		{{{content}}}
	</div>
	<footer class="slide_footer">
		<div class="slide_footer_left">
			Catching Wire, An introduction to CBWire 4<Br>
			IntoTheBox 2025 | IntoTheBox.org
		</div>
		<div class="slide_footer_center">
			<div class="slide_footer_logo">&nbsp;</div>
		</div>
		<div class="slide_footer_right">
			Michael Rigsby<br>
			OIS Technologies | oistech.com
		</div>
	</footer>
</div>